
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Модальное окно на чистом CSS</title>


</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div class="container" th:each="chat : ${chatList}">
    <ul id="navbar" >
        <li th:each="chat : ${chatList}">
            <a th:href="@{'/chat/load-chat/' + ${chat.id}}">
                <label th:text="${chat.name}"></label>
            </a>
        </li>
    </ul>
</div>
</body>
</html>