<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>General room</title>
</head>
<body>
<div class="container">
    <table>
        <tr th:each="message : ${messages}">
            <td th:text="${message.user.username}"></td>
            <td th:text="${message.content}"></td>

        </tr>
    </table>
    <form action="#" th:action="@{'/chat-bot'}" th:object="${message}" method="post">
        <label>
            <textarea class="form-control" id="content" th:field="*{content}"></textarea>
        </label>
        <button class="login-form-btn">Send</button>
    </form>
</div>
</body>
</html>