<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <title>Hello</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="p-2 text-dark" th:href="@{'/chat'}">ЧаТиК</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="@{'/users'}">Все пользователи</a>
        <a id="name" class="p-2 text-dark" href="#" th:text="${currentUser.username}"></a>
    </nav>
    <security:authorize access="isAuthenticated()">
        <a class="btn btn-outline-primary" href="/logout">Выйти</a>
    </security:authorize>
</div>
<span th:text="${error}"></span>
    <form th:action="@{'/chat/rename/' + ${chat.id}}" method="POST">
        <div class="form-group">
            <label class="form-control-label" th:text="'Старое название чата: ' + ${chat.name}"></label>
        </div>
        <div class="form-group">
            <label for="chat-name" class="form-control-label">Новое название:</label>
            <textarea class="form-control" id="chat-name" name="chat-name"></textarea>
        </div>
        <div class="modal-footer">
            <a class="btn btn-secondary" th:href="@{'/chat/get-chat-users/'+ ${chat.id}}">Назад</a>
            <button type="submit" class="btn btn-primary">Готово!</button>
        </div>
    </form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>