<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/security/tags">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <title>Hello</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="p-2 text-dark" th:href="@{'/chat'}">ЧаТиК</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="@{'/users'}">Все пользователи</a>
        <a id="name" class="p-2 text-dark" href="#" th:text="${currentUser.username}"></a>
    </nav>
    <security:authorize access="isAuthenticated()">
        <a class="btn btn-outline-primary" href="/logout">Выйти</a>
    </security:authorize>
</div>

<span th:text="${error}"></span>
<div class="table-responsive">
    <table class="table table-striped table-sm" >
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Block</th>
            <th>Option</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.role.name}"></td>
            <td th:text="${user.block}"></td>
            <td>
                <ul class="list-unstyled">
                    <li th:if="${currentUser.role.name.toString() == 'ADMIN'}">
                        <a th:if="${user.role.name.toString() == 'USER'}" class="link-primary" th:href="@{'/users/make-moderator/' + ${user.id}}">Сделать модератором</a>
                        <a th:if="${user.role.name.toString() == 'MODERATOR'}"  class="link-primary" th:href="@{'/users/make-user/' + ${user.id}}">Убрать из модераторов</a>
                    </li>
                    <li th:if="${currentUser.role.name.toString() == 'ADMIN' || user.username == currentUser.username}">
                        <a class="link-primary" th:href="@{'/users/rename/' + ${user.id}}">Переименовать</a>
                    </li>
                    <li th:if="${currentUser.role.name.toString() != 'USER'}">
                        <a th:if="${user.isBlock()}" class="link-primary" th:href="@{'/users/unblock/' + ${user.id}}">Разблокировать</a>
                        <a th:unless="${user.isBlock()}" class="link-primary" th:href="@{'/users/block/' + ${user.id}}">Заблокировать</a>
                    </li>
                    <li th:if="${currentUser.username} != ${user.username}">
                        <a class="link-primary" th:href="@{'/users/rename/' + ${user.id}}">Написать сообщение</a>
                    </li>
                    <li th:if="${currentUser.role.name.toString() == 'ADMIN' || user.username == currentUser.username}">
                        <p><a class="text-danger" th:href="@{'/users/delete/' + ${user.id}}">Удалить</a></p>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>